.experience {
    .slider--experience {

        .slider {

            &__slide-title {
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 15px;
                position: relative;
                color: #000000;

                &:after {
                    content: '';
                    display: none;
                    position: absolute;
                    width: 237px;
                    height: 1px;
                    background: #29A28C;
                    bottom: -30px;
                    left: -15px;
                }
            }
        }
    }

    .slick-dots {
        border: none;
    }
}

@media screen and(min-width: 1024px) {
    .experience {
        max-width: 1500px;
        margin: 0 auto;

        .slider {

            &__slide {
                margin-right: 15px;
            }

            &__picture-wrapper {
                width: 307px;
                height: 218px;
            }

            .container {
                padding: 0;
            }

            .slider__slide-title {
                font-weight: 700;
                font-size: 23px;
                line-height: 31px;
            }

            .slider__slide-text {
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
}
