.feedback {
    &__content {
        padding: 26px 35px;
        background: rgba(2, 123, 102, 0.1);

    }

    &__photo-wrapper {
        width: 57px;
        height: 57px;
        border-radius: 50%;
        margin: 0 auto;

        .photo {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__author {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
    }

    &__author-position {
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 15px;
        text-align: center;
    }

    &__text {
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 36px;
        text-align: center;
    }

    &__date {
        font-size: 11px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
    }

    &__form-wrapper {
        padding: 36px 32px 68px 32px;
        background: linear-gradient(243.89deg, #25BA9F 2.05%, #1B7F6D 52.81%, #157161 75.54%, #09463B 101.06%);

        .form-title {
            color: #ffffff;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 25px;
        }

        .input-wrapper {
            width: 100%;
            margin-bottom: 20px;

            .form-input {
                width: 100%;
                background: none;
                border: none;
                padding: 1px 5px;
                color: rgba(255, 255, 255, 0.46);
                border-bottom: 1px solid #ffffff ;
            }

            .input-message {
                border: 1px solid #ffffff;
                border-radius: 13px;
                height: 87px;
                padding: 5px;
            }
        }
    }

    .rating {
        display: flex;
        width: 100%;
        justify-content: center;
        overflow: hidden;
        flex-direction: row-reverse;
        height: 15px;
        position: relative;
    }

    .rating-0 {
        filter: grayscale(100%);
    }

    .rating > input {
        display: none;
    }

    .rating > label {
        cursor: pointer;
        width: 15px;
        height: 15px;
        margin-top: auto;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 76%;
        transition: .3s;
    }

    .rating > input:checked ~ label,
    .rating > input:checked ~ label ~ label {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }


    .rating > input:not(:checked) ~ label:hover,
    .rating > input:not(:checked) ~ label:hover ~ label {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }


    #rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
    #rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
    #rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
    #rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
    #rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }
}
