.statistics {
    min-height: 198px;

    &__slider {
        width: 100%;
        min-height: 150px;
    }

    &__slide {
        display: flex !important;
        justify-content: center;
    }



    &__slide-inner {
        display: flex;
        min-height: 150px;
    }

    .card {
        padding: 42px 25px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 13px;
            height: 1px;
            background: #000;
        }

        &__number {
            font-size: 22px;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 3px;
            text-align: center;
        }

        &__text {
            font-size: 12px;
            line-height: 12px;
            font-weight: 400;
            text-align: center;
        }
    }

    .card:nth-child(even) {
        &:after {
            content: '';
            position: absolute;
            top: calc(50% - 1px);
            right: 0;
            width: 13px;
            height: 1px;
            background: #000;
        }
    }
}

@media all and (min-width: 768px) {
    .statistics {
        .card__text {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            text-align: center;
        }
    }
}


@media all and(min-width: 1024px){
    .statistics__slider {
        display: flex;
        flex-wrap: nowrap;
        width: 932px;
        margin: 0 auto;
    }

    .statistics {
        .card {
            padding: 42px 25px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 30px;
                left: 0;
                width: 3px;
                height: 114px;
                background: #29A28C
            }

            &__number {
                font-size: 48px;
                font-weight: 600;
                line-height: 65px;
                letter-spacing: 3px;
                text-align: center;
            }
        }

        .card:nth-child(even) {
            &:after {
                content: '';
                display: none;
                position: absolute;
                top: calc(50% - 1px);
                right: 0;
                width: 13px;
                height: 1px;
                background: #000;
            }
        }

        .card:first-child {
            &:before {
                display: none;
            }
        }

        .card-border:before {
            content: '';
            position: absolute;
            top: 30px;
            left: 0;
            width: 3px;
            height: 114px;
            background: #29A28C
        }
    }
}
